@page
@model BookLogApp.Pages.PagesForGenres.ViewGenresModel
<h2>Genre List</h2>

<ul>
    @foreach (DomainModelsLayer.Genre genre in Model.Genres)
    {
        <li>
            <a href="./UpdateGenre/@genre.ID"><strong>@genre.Name <br/></strong></a>
            <a href="./DeleteGenre/@genre.ID">Delete @genre.Name</a>

        </li>
    }
</ul>